/* change green to Couchbase red */
.home-page .banner {
    background: #cf2e2e;
}

.nav-pills.outline-active .nav-link.active {
    border-bottom: 2px solid #cf2e2e!important;
    color: #cf2e2e!important;
}

a {
    color: #cf2e2e;
    text-decoration: none;
}

a:hover{
    color:#cf2e2e;
}

.btn-primary {
    background-color: #cf2e2e;
    border-color: #cf2e2e;
}

.btn-primary:hover{
    background-color:#ce7f7f;
    border-color:#ce7f7f
}

.btn-outline-primary {
    color: #cf2e2e;
    border-color: #cf2e2e;
}

.btn-outline-primary:hover{
    color:#fff;
    background-color:#cf2e2e;
    border-color:#cf2e2e
}

.navbar-brand {
    color: #cf2e2e!important;
}

.btn-primary:focus,.btn-primary.focus {
	color: #fff;
	background-color: #cf2e2e;
	border-color: #cf2e2e
}

.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #cf2e2e;
	border-color: #cf2e2e;
	background-image: none
}

.btn-primary:active:hover,.btn-primary:active:focus,.btn-primary:active.focus,.btn-primary.active:hover,.btn-primary.active:focus,.btn-primary.active.focus,.open>.btn-primary.dropdown-toggle:hover,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle.focus {
	color: #fff;
	background-color: #cf2e2e;
	border-color: #cf2e2e
}

.btn-primary.disabled:focus,.btn-primary.disabled.focus,.btn-primary:disabled:focus,.btn-primary:disabled.focus {
	background-color: #cf2e2e;
	border-color: #cf2e2e
}

.btn-primary.disabled:hover,.btn-primary:disabled:hover {
	background-color: #cf2e2e;
	border-color: #cf2e2e
}

  
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar-container {
    position: relative;
  }
  
  .avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .avatar-label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
   }
  
  .speech-balloon {
    position: relative;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    /* Any additional styling for the speech balloon */
  }
  
  .speech-balloon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f0f0f0 transparent transparent;
  }
  
  .loading-text {
    animation: fadeInOut 3s linear infinite;
    /* Any additional styling for the text */
  }
  
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
  }
 
  .has-success .text-help,.has-success .form-control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline,.has-success.radio label,.has-success.checkbox label,.has-success.radio-inline label,.has-success.checkbox-inline label,.has-success .custom-control {
    color: #cf2e2e
  }
  
  .has-success .form-control {
    border-color: #cf2e2e
  }
  
  .has-success .input-group-addon {
    color: #cf2e2e;
    border-color: #cf2e2e;
    background-color: #eaf6ea
  }
  
  .has-success .form-control-feedback {
    color: #cf2e2e
  }


  .btn-outline-primary {
    color: #cf2e2e;
    background-image: none;
    background-color: transparent;
    border-color: #cf2e2e
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #cf2e2e;
    border-color: #cf2e2e
  }
  
  .btn-outline-primary:focus,.btn-outline-primary.focus {
    color: #fff;
    background-color: #cf2e2e;
    border-color: #cf2e2e
  }
  
  .btn-outline-primary:active,.btn-outline-primary.active,.open>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #cf2e2e;
    border-color: #cf2e2e
  }
  
  .btn-outline-primary:active:hover,.btn-outline-primary:active:focus,.btn-outline-primary:active.focus,.btn-outline-primary.active:hover,.btn-outline-primary.active:focus,.btn-outline-primary.active.focus,.open>.btn-outline-primary.dropdown-toggle:hover,.open>.btn-outline-primary.dropdown-toggle:focus,.open>.btn-outline-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #cf2e2e;
    border-color: #cf2e2e
  }
  
  .btn-outline-primary.disabled:focus,.btn-outline-primary.disabled.focus,.btn-outline-primary:disabled:focus,.btn-outline-primary:disabled.focus {
    border-color: #cf2e2e
  }
  
  .btn-outline-primary.disabled:hover,.btn-outline-primary:disabled:hover {
    border-color: #cf2e2e
  }